.layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-direction: row
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.column {
  flex: 1;
}
.done {
  color: green;
}
.not-done {
  color: red;
}
.item-row {
  display: flex;
  flex-direction: column
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.item-col {
  overflow-wrap: anywhere;
}
.item-col.id {
  color: blue;
  min-width: 3rem;
}
.item-col.name {
  margin-left: 1rem
  color: black;
  min-width: 20rem;
  font-style: italic;
}
.item-col.action {
  min-width: 5rem;
}
.item-col.status {
  min-width: 8rem;
}
ul {
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  margin-top: 0;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

form {
  background-color: #f0f0f0;
  border: 2px solid black;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  margin-top: 0; 
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.styles-button{
  background-color: #f0f0f0;
  border: 2px solid black;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}

form button {
  margin-top: 10px;
}

span.item-col.status input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"] + label::before {
  content: "✘";
  font-size: 20px;
  margin-right: 8px;
}

input[type="checkbox"]:checked + label::before {
  content: "✔️";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
