.layout {
  display: flex;
  gap: 2rem; /* Abstand zwischen den Spalten */
  align-items: flex-start;
  flex-direction: row
}
.column {
  flex: 1; /* Beide Spalten gleich breit */
}
body {
  font-family: Arial, sans-serif;
}
.done {
  color: green;
}
.not-done {
  color: red;
}
.item-row {
  display: flex;
  flex-direction: column
  gap: 1rem;
  align-items: center;
  background-color: #e6f7ff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.item-col {
  overflow-wrap: anywhere;
}
.item-col.id {
  color: blue;
  min-width: 3rem;
}
.item-col.name {
  margin-left: 1rem
  color: black;
  min-width: 20rem;
  font-style: italic;
}
.item-col.action {
  min-width: 5rem;
}
.item-col.status {
  min-width: 8rem;
}
ul {
  background-color: #e6f7ff; /* Hellgrau */
  border: 2px solid black;   /* Schwarzer Rahmen */
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  margin-top: 0;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

form {
  background-color: #f0f0f0; /* Hellgrau */
  border: 2px solid black;   /* Schwarzer Rahmen */
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  margin-top: 0; 
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

form button {
  margin-top: 10px;
}

span.item-col.status input[type="checkbox"] {
  opacity: 0; /* macht die Checkbox unsichtbar */
  position: absolute;
}

input[type="checkbox"] + label::before {
  content: "✘";   /* Standard-Symbol */
  font-size: 20px;
  margin-right: 8px;
}

input[type="checkbox"]:checked + label::before {
  content: "✔️";   /* Symbol bei aktiv */
}
body {
  background: 
    linear-gradient(to bottom, #e6f7ff, #3399cc) no-repeat,
    #3399cc; /* Basisfarbe unten */
  background-attachment: fixed;
  background-size: 100% 100%;
}
body{
  display: flex;
  flex-direction: column
}